<head>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  <div id="app">
    <div class="top-bar">
      <div class="container_1">
        <div class="row">
          <div class="col">
          </div>
        </div>
      </div>
    </div>

    <div style="border-bottom: solid 15px #f2f2f2"></div>

    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">
      <div class="container_2">
        <span>
          <img class="logo" src="../assets/images/main-logo.png" />
        </span>

        <span>
          <nav class="site-navigation"> 
            <ul class="navbar-nav mr-auto" routerLinkActive="active">
              <li class="nav-item">
                <a href="/home" class="nav-link" routerLink="home">Главная</a>
              </li>
            </ul>
            <ul class="navbar-nav mr-auto" routerLinkActive="active">
              <li class="nav-item">
                <a href="/examples" class="nav-link" routerLink="examples">Примеры</a>
              </li>
            </ul>
            <ul class="navbar-nav mr-auto" routerLinkActive="active">
              <li class="nav-item">
                <a href="/visualization" class="nav-link" routerLink="visualization">Визуализация</a>
              </li>
            </ul>
            <ul class="navbar-nav mr-auto" routerLinkActive="active">
              <li class="nav-item">
                <a href="/instruction" class="nav-link" routerLink="instruction">Инструкция</a>
              </li>
            </ul>
          </nav>
        </span>
      </div>
    </header>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <div style="border-bottom: solid 15px #f2f2f2"></div>

    <footer class="site-footer">
      <div class="container_1">
        <div class="row_3">
          <div class="col_footer">
            <!--<h2 class="footer-heading_h2">Where are we located</h2>-->
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>