<!--<head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
  </head>
  
  <body data-spy="scroll"
    data-target=".site-navbar-target"
    data-offset="300">
  
    <section class="site-section_bg-light">
      <div class="container_1">
        <div class="row_align_center_bg-light">
          <div class="col_align_center">
            <div class="block-heading"
              data-aos="fade-up"
              data-aos-delay="">
              <h2>Вам нужна помощь в выборе метода визуализации?</h2>
            </div>
          </div>
        </div>
  
        <div class="row_bg-light">
          <div class="row_parts_bg-ligth"
            data-aos="fade-up"
            data-aos-delay="">
            <div class="advantages">

              <p class="p_row_part">
                <a href="/visualization"
                  class="row_btn_v">Нет, я знаю, что мне нужно</a>
              </p>
            </div>
          </div>
  
          <div class="row_parts_bg-ligth"
            data-aos="fade-up"
            data-aos-delay="100">
            <div class="advantages">
              
              <p class="p_row_part">
                <a href="/visualization"
                  class="row_btn_v">Да, помогите мне с выбором</a>
              </p>
            </div>
          </div>
  
        </div>
      </div>
    </section>
  </body>-->

  <!--<head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
  </head>
  
  <body data-spy="scroll"
    data-target=".site-navbar-target"
    data-offset="300">
  
    <section class="site-section_bg-light">
      <div class="container_1">
        <div class="row_align_center_bg-light">
          <div class="col_align_center">
            <div class="block-heading"
              data-aos="fade-up"
              data-aos-delay="">
              <h2>Выберите метод визуализации</h2>
            </div>
          </div>
        </div>
  
        <div class="row_bg-light">
          <div class="row_parts_bg-ligth_v"
            data-aos="fade-up"
            data-aos-delay="">
            <div class="advantages">
              <h3 class="advantages_text_green">Линейный график</h3>
                <span>
                    <img class="page_images" src="../assets/images/line-chart.png" />
                </span>

              <p class="p_row_part">
                <a href="/visualization"
                  class="row_btn">Вперед!</a>
              </p>
            </div>
          </div>
  
          <div class="row_parts_bg-ligth_v"
            data-aos="fade-up"
            data-aos-delay="100">
            <div class="advantages">
              <h3 class="advantages_text_green">Гистограмма</h3>
  
              <span>
                <img class="page_images" src="../assets/images/bar-chart.png" />
              </span>
  
              <p class="p_row_part">
                <a href="/visualization"
                  class="row_btn">Вперед!</a>
              </p>
            </div>
          </div>

          <div class="row_parts_bg-ligth_v"
            data-aos="fade-up"
            data-aos-delay="100">
            <div class="advantages">
              <h3 class="advantages_text_green">Круговая диаграмма</h3>
  
              <span>
                <img class="page_images" src="../assets/images/pie-chart.png" />
              </span>
  
              <p class="p_row_part">
                <a href="/visualization"
                  class="row_btn">Вперед!</a>
              </p>
            </div>
          </div>
  
        </div>
      </div>
    </section>
  </body>-->

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="container_1">
        <h2>Пожалуйста, ответьте на вопросы</h2>
        <p>1. Какова цель визуализации?</p>
            <div>
                <input type="checkbox" id="1" name="source" value="1">
                <label for="1">сравнить показатели</label>   
            </div>
            <div>
                <input type="checkbox" id="2" name="source" value="2">
                <label for="2">показать распределение данных</label>   
            </div>
            <div>
                <input type="checkbox" id="3" name="source" value="3">
                <label for="3">показать структуру (состав)</label>   
            </div>
            <div>
                <input type="checkbox" id="4" name="source" value="4">
                <label for="4">проследить взаимосвязь между показателями</label>   
            </div>

            <br><br>2. Какой набор данных имеется?
            <div>
                <input type="checkbox" id="5" name="source" value="5">
                <label for="5">массив данных</label>   
            </div>
            <div>
                <input type="checkbox" id="6" name="source" value="6">
                <label for="6">карта (отличительным признаком является наличие географических координат или географических объектов)</label>   
            </div>
            <div>
                <input type="checkbox" id="7" name="source" value="7">
                <label for="7">сетевой граф (хранит информацию об узлах и соединяющих их ребрах)</label>   
            </div>

            <br><br>3. К какому подвиду можно отнести набор данных?
            <div>
                <input type="checkbox" id="8" name="source" value="8">
                <label for="8">диапазон (данные, содержащие интервал значений какой-либо величины между самыми высокими и самыми низкими значениями в наборе данных)</label>   
            </div>
            <div>
                <input type="checkbox" id="9" name="source" value="9">
                <label for="9">данные за период (данные за определенный период времени)</label>   
            </div>
            <div>
                <input type="checkbox" id="10" name="source" value="10">
                <label for="10">демография (данные о населении, распределенные по всем возрастным группам и обоим полам)</label>   
            </div>
            <div>
                <input type="checkbox" id="11" name="source" value="11">
                <label for="11">по категориям (данные представлены одной или несколькими категориями, которые отражают общие свойства предметов или явлений)</label>   
            </div>  
            <div>
                <input type="checkbox" id="12" name="source" value="12">
                <label for="12">пропорции (данные отображают сравнительное отношение между объектами по размеру, количеству и т.д.)</label>   
            </div>  

            <br><br>4. Что необходимо отобразить?
            <div>
                <input type="checkbox" id="13" name="source" value="13">
                <label for="13">сравнение одних категорий с другими</label>   
            </div>  
            <div>
                <input type="checkbox" id="14" name="source" value="14">
                <label for="14">пропорциональное соотношение категорий</label>   
            </div> 

            <br>Вам подойдет: Столбиковая диаграмма с группировкой
            <br><p class="p_row_part">
                <a href="/visualization"
                  class="row_btn">Вперед!</a>
            </p>
    </div>
</body>

