<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="container_1">
        <h2>Инструкция</h2>
        <p>
            Вы можете посмотреть примеры визуализации по данным социальной сети ВКонтакте, а также создать свой график.
            <br><br>Для того, чтобы посмотреть примеры по данным социальной сети:
            <br>1. Перейдите на страницу «Примеры» или выберете «Примеры визуализации по данным соцсети» на странице «Главная»
            <br>2. Укажите регион и город, по которым будут собираться данные
            <br>3. Выберите пример из перечня доступных (например, это может быть «Пример визуализации по полу и возрасту», «Пример визуализации по используемым платформам» и т.д.)
            <br>4. Готово! Полученный результат можно скачать в удобном Вам формате, нажав на «•••» в правом верхнем углу диаграммы/графика.
            <br><br>Для того, чтобы построить свой график:
            <br>1. Перейдите на страницу «Визуализация» или выберете «Визуализация по моим данным» на странице «Главная»
            <br>2. Если Вы знаете, какой метод визуализации Вам нужен (например, круговая диаграмма, гистограмма и т.д.), на вопрос «Вам нужна помощь в выборе метода визуализации?» нажмите «Нет, я знаю, что мне нужно», после чего выберете необходимый метод из списка.
            <br>Если Вы не знаете, какой метод визуализации Вам нужен, на вопрос «Вам нужна помощь в выборе метода визуализации?» нажмите «Да, помогите мне с выбором», после чего Вам будет предложено ответить на несколько вопросов, позволяющих определить наиболее подходящий метод визуализации.
            <br>3. После того, как будет определен метод визуализации, необходимо заполнить таблицу данных
            <br>4. Полученный результат можно скачать в удобном Вам формате, нажав на «•••» в правом верхнем углу диаграммы/графика.
        </p>
        <br>
    </div>
</body>
