<head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
  </head>
  
  <body data-spy="scroll"
    data-target=".site-navbar-target"
    data-offset="300">
  
    <section class="site-section_bg-light">
      <div class="container_1">
        <div class="row_align_center_bg-light">
          <div class="col_align_center">
            <div class="block-heading"
              data-aos="fade-up"
              data-aos-delay="">
              <h2>Добро пожаловать!</h2>
              <h2>Что будем визуализировать?</h2>
            </div>
          </div>
        </div>
  
        <div class="row_bg-light">
          <div class="row_parts_bg-ligth"
            data-aos="fade-up"
            data-aos-delay="">
            <div class="advantages">
              <h3 class="advantages_text_green">Примеры визуализации по данным соцсети</h3>
                <span>
                    <img class="page_images" src="../assets/images/networking.png" />
                </span>

              <p class="p_row_part">
                <a href="/examples"
                  class="row_btn">Вперед!</a>
              </p>
            </div>
          </div>
  
          <div class="row_parts_bg-ligth"
            data-aos="fade-up"
            data-aos-delay="100">
            <div class="advantages">
              <h3 class="advantages_text_green">Визуализация по моим данным</h3>
  
              <span>
                <img class="page_images" src="../assets/images/data-capture.png" />
              </span>
  
              <p class="p_row_part">
                <a href="/visualization"
                  class="row_btn">Вперед!</a>
              </p>
            </div>
          </div>
  
        </div>
      </div>
    </section>
  </body>
